* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.navbar,
.footer {
  background-color: #121317;
}

.dropdown-container {
  position: relative;
}

.hoverable-button {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  top: 47px;
  max-height: 400px;
  z-index: 15;
  padding: 16px;
}

.dropdown-empty-space {
  display: none;
  background-color: transparent;
  position: absolute;
  z-index: 15;
  height: 47px;
  width: 200px;
}

@media screen and (min-width: 48em) {
  .dropdown-container:hover .dropdown-content {
    display: block;
  }

  .dropdown-container:hover .dropdown-empty-space {
    display: block;
  }
}

.swiper-home-carousel {
  height: 550px;
  width: 100%;
  background-color: #121317;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-top: 10px;
}

@media screen and (max-width: 30em) {
  .swiper-slide {
    padding-top: 0;
    gap: 0;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

@media screen and (max-width: 30em) {
  .swiper-pagination {
    padding-left: 50%;
    padding-bottom: 30%;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border: 1px solid white;
}

.swiper-pagination-bullet-active {
  background-color: white;
  height: 10px;
  width: 10px;
}

@media screen and (max-width: 30em) {
  .swiper-pagination {
    padding-left: 50%;
  }

  .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
  }

  .swiper-pagination-bullet-active {
    height: 6px;
    width: 6px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  --swiper-navigation-size: 24px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  --swiper-navigation-size: 32px;
}

@media screen and (max-width: 30em) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
