* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.navbar,
.footer {
  background-color: #121317;
}

.dropdown-container {
  position: relative;
}

.hoverable-button {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  top: 47px;
  max-height: 400px;
  z-index: 15;
  padding: 16px;
}

.dropdown-empty-space {
  display: none;
  background-color: transparent;
  position: absolute;
  z-index: 15;
  height: 47px;
  width: 200px;
}

@media screen and (min-width: 48em) {
  .dropdown-container:hover .dropdown-content {
    display: block;
  }

  .dropdown-container:hover .dropdown-empty-space {
    display: block;
  }
}

.swiper-home-carousel {
  height: 550px;
  width: 100%;
  background-color: #121317;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  padding-top: 10px;
}

@media screen and (max-width: 30em) {
  .swiper-home-carousel {
    margin-bottom: 45px;
  }

  .swiper-slide {
    padding-top: 0;
    gap: 0;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

@media screen and (max-width: 30em) {
  .swiper-pagination {
    padding-bottom: 30%;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border: 1px solid white;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: white;
  height: 10px;
  width: 10px;
}

@media screen and (max-width: 30em) {
  .swiper-pagination {
    padding-left: 48%;
  }

  .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
  }

  .swiper-pagination-bullet-active {
    height: 6px;
    width: 6px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  --swiper-navigation-size: 24px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  --swiper-navigation-size: 32px;
}

@media screen and (max-width: 30em) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.inner-slider {
  margin: 0 auto;
}

.slick-prev {
  height: 24px;
  width: 24px;
  opacity: 0;
}

.slick-next {
  height: 24px;
  width: 24px;
  opacity: 1;
}

.slick-next::before,
.slick-prev::before {
  content: '';
}

.slick-dots li {
  margin: 0 -2px;
}

.slick-dots li button::before {
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.premium-offer-table {
  border-collapse: collapse;
}

.premium-offer-table th,
td {
  border-bottom: 1px dashed rgb(40, 45, 51) !important;
}

.premium-offer-table tr:last-child > td {
  border-bottom: none !important;
}

.premium-offer-table th > p {
  text-transform: none;
}

.swiper-premium-show-carousel {
  width: 90%;
  height: 100%;
  margin-top: 20px;
}

.swiper-premium-show-carousel .swiper-slide {
  height: 100%;
  background-color: rgb(38, 41, 49);
  border-radius: 6px;
  gap: 0;
  padding-top: 0;
}

.swiper-premium-testimonial-carousel {
  height: 240px;
  width: 100%;
  position: relative;
}
